input[type="checkbox"] {
	vertical-align: bottom;
}

button {
	border: none;
	padding: 0;
	margin: 0;
	cursor: pointer;
}
button:focus, button:active {
	outline: none;
}

input, select {
	outline: none;
}

.wrapper {
	position: relative;
	z-index: 1;
	width: 100%;
}

.section {
	width: 100%;
	max-width: 1000px;
	padding-left: 32px;
	margin: auto;
}

.headline_reg {
	float: left;
	padding: 15px 17px 30px;
	font-size: 40px;
	color: #08405d;
	margin-bottom: 15px;
	font-weight: 400;
}

.font_poiret_one {
	font-family: "PoiretOne", cursive;
}

.text_block {
	/*color: #808080;*/
	margin-bottom: 30px;
	font-family: arial;
	clear: left;
}

.text_block p {
	font-size: 1.8rem;
	margin-bottom: 40px;
	line-height: 18px;
}

.field_headline {
	clear: both;
	margin-bottom: 15px;
	font: cursive;
	font-size: 1.8rem;
	float: left;
	width: 220px;
	height: 42px;
}

.field_input, .field_input_select {
	margin-left: 15px;
	position: relative;
	font: 1.6rem/1 "NerisLight", sans-serif;
	color: #444444;
	width: 325px;
	margin-bottom: 5px;
	position: relative;
	float: left;
}

.field_input_select {
	/*padding: 10px 22px 10px 5px;*/
    border: 1px solid #d7d7d7;
    width: 325px;
    cursor: pointer;
    margin-top: -10px;
    height: 42px;
    vertical-align: middle;
}

.field_input_select_day {
	width: 85px;
}

.field_input_select_month {
	width: 125px;
}

.field_input_select_year {
	width: 85px;
}

.sex_checkbox {
	display:inline-block;
	float: left;
	clear: both;
	margin-bottom: 5px;
	margin-right: 20px;
	width: 155px;
	position: relative;
	font-size: 1.5rem;
}

.sex_div {
	float: left;
	margin-left: 20px;
}

.datebirth_div {
	float: left;
	display: inline-block;
	height: 40px;
}

.input_capcha {
	width: 125px !important;
	height: 32px !important;
}

.capcha_img {
	float:left;
	margin-right: 30px;
}

.input_data_field, .input_capcha {
	font: 1.6rem "NerisLight", sans-serif;
	color: #444444;
	border: 1px solid #d7d7d7;
	padding: 5px;
	width: 100%;
	display: block;
	height: 42px;
	vertical-align: middle;
	margin-top: -10px;
}

.input_data_field.f_input_v2 {
	border: 1px solid #d7d7d7;
}
.input_data_field.f_input_v2:focus, .field_input_select:focus, .input_capcha:focus {
	border-color: rgba(22, 174, 229, 0.5);
	box-shadow: inset rgba(22, 174, 229, 0.5) 0px 1px 10px;
}

.select_field {
	box-sizing: border-box;
    align-items: center;
    white-space: pre;
    color: black;
    background-color: white;
    cursor: default;
    border-width: 1px;
    border-style: solid;
}

.check_text {
	cursor: pointer;
}
.radio_emul_v1 .check_text {
	position: relative;
	display: block;
	padding-left: 58px;
}
.radio_emul_v1 .check_text:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	border-radius: 100%;
	border: 1px solid rgba(0, 0, 0, 0.19);
	background: #ffffff;
	background: -webkit-linear-gradient(top, white 0%, #efefef 100%);
	/* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom, white 0%, #efefef 100%);
}
.radio_emul_v1 .check_text:after {
	z-index: 1;
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	border-radius: 100%;
}
.radio_emul_v1 .check_text:hover:before {
	background: #efefef;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #efefef), color-stop(100%, white));
	background: -webkit-linear-gradient(top, #efefef 0%, white 100%);
	background: linear-gradient(to bottom, #efefef 0%, white 100%);

}
.radio_emul_v1_male .check_text:after {
	background: url(../img/icon_male.png) no-repeat 50% 50%;
}
.radio_emul_v1_female .check_text:after {
	background: url(../img/icon_female.png) no-repeat 50% 50%;
}
.radio_emul_v1 .hidden_input:checked + .check_text:before {
	box-shadow: 0 0 18px rgba(22, 174, 229, 0.6);
}

.check_emul_v1 .check_text {
	position: relative;
	display: inline-block;
	padding-left: 44px;
}
.check_emul_v1 .check_text:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	width: 26px;
	height: 26px;
	margin-top: -13px;
	border: 1px solid rgba(0, 0, 0, 0.19);
	background: #ffffff;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #efefef));
	background: -webkit-linear-gradient(top, white 0%, #efefef 100%);
	background: linear-gradient(to bottom, white 0%, #efefef 100%);
}
.check_emul_v1 .check_text:after {
	z-index: 1;
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	width: 26px;
	height: 26px;
	margin-top: -13px;
}
.check_emul_v1 .check_text:hover:before {
	background: #efefef;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #efefef), color-stop(100%, white));
	background: -webkit-linear-gradient(top, #efefef 0%, white 100%);
	background: linear-gradient(to bottom, #efefef 0%, white 100%);
}


.license_agreement {
	float: left;
	clear: both;
	font-size: 1.5rem;
	margin-bottom: 10px;
	line-height: 30px;
}
 
.capcha_div {
	float: left;
	clear: both;
	margin-bottom: 40px;
}

.redeem_controls {
	float: left;
	clear: both;
	padding-top: 15px;
	line-height: 50px;
}

.hidden_input {
	display: none;
}

.check_emul_v1 .hidden_input:checked + .check_text:after {
	content: '✔';
	position: absolute;
	vertical-align: middle;
	top: 70%;
	left: 5px;
	z-index: 100;
	width: 26px;
	height: 26px;
	margin-top: -20px;
	font-size: 24px;
	color: #14a5e2;
}

.btn_go_forward {
	display: inline-block;
	vertical-align: top;
	position: relative;
	width: 156px;
	height: 50px;
	padding-right: 45px;
	margin-left: 44px;
	border: none;
	color: #fff;
	font-size: 18px;
	line-height: 46px;
	text-align: center;
	text-decoration: none !important;
	background: url(../img/gray_btn_r.svg) no-repeat 100% 0px;
}
.btn_go_forward:after {
	content: '►';
	font-size: 30px !important;
	position: absolute;
	top: 50%;
	margin-top: -23px;
	right: 10px !important;
	/*font-size: 22px;*/
	color: #fff;
}
.btn_go_forward:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: 43px;
	height: 50px;
	background: url(../img/arrow_bg_r.png) no-repeat 0px 0px;
}
.btn_go_forward:hover {
	background: url(../img/gray_btn_r_hover.svg) no-repeat 100% 0px;
}
.btn_go_forward.mod_80 {
	height: 81px;
	width: 340px;
	margin-left: 0;
	font-size: 27px;
	line-height: 76px;
	background: url(../img/reg_btn.png) no-repeat 100% 0px;
}

.btn_go_forward.mod_80:hover {
	background: url(../img/reg_btn_hover.png) no-repeat 100% 0px;
}
.btn_go_forward.mod_80:after {
	margin-top: -35px;
	right: 6px;
	height: 34px;
	font-size: 40px;
}
.btn_go_forward.mod_80:before {
	top: 3px;
	right: -10px;
	height: 78px;
	width: 69px;
	background: url(../img/arrow_bg_plain.png) no-repeat 0px 0px;
}
.btn_go_forward.offer_mod {
	float: right;
	width: 180px;
	padding-right: 38px;
	margin-right: 28px;
	margin-top: 40px;
	background-position: 0 0;
}
.btn_go_forward.offer_mod:after {
	font-size: 20px !important;
}

@font-face {
	font-family: "PoiretOne";
	src: url(../fonts/PoiretOne-Regular.ttf);
}

body, html{
	margin: 0;
	padding: 0;
	top: 0;
	font-size: 62.5%;
	font: "NerisLight";
	color: #444444;
}
@font-face{
	font-family: "Poiret One";
	src: url(../fonts/PoiretOne-Regular.ttf);
}
@font-face{
	font-family: "NerisLight";
	src: url(../fonts/Neris-Light.otf);
}
@font-face {
	font-family: 'mnenie_font';
	src: url("../fonts/mnenie_font.eot");
	font-weight: normal;
	font-style: normal;
}
#login_title{
	padding-top: 100px;
	margin: auto;
	padding-left: 32px;
	color: #08405d;
	width: 100%;
	max-width: 1000px;
}
#login_title h2{
	margin-top: 0px;
    margin-bottom: 15px;
	font-family: Poiret One, cursive;
	font-size: 40px;
	font-weight: 400;
}
#login_title a{
	display: block;
	color: #0000ee;
	text-decoration: underline;
	font-size: 17px;
	margin-bottom: 15px;
}
#login_title input{
    box-sizing: border-box;
}
#login_title input:focus{
	border-color: rgba(22, 174, 229, 0.5);
    box-shadow: inset rgba(22, 174, 229, 0.5) 0px 1px 10px;
    outline: none;
    box-sizing: border-box;
}
.login_parag_left{
	cursor: pointer;
	font-size: 20px;
	margin-top: 30px;
    max-width: 235px;
    width: 100%;
    position: relative;
    font-family: "NerisLight", sans-serif;
}
.login_parag_left_float{
	cursor: pointer;
	width: 100%;
	float: left;
}
.login_input input{
	height: 32px;
	width: 285px;
	padding: 5px;
    border: 1px solid #d7d7d7;
    font-family: cursive;
}
#capture_text{
	clear: both;
	margin-top: 30px;
	margin-bottom: 20px;
    line-height: 17px;
    font-size: 18px;
}
#capture_img{
	cursor: pointer;
	float: left;
}
#capture_input input{
	width: 125px;
	height: 42px;
	padding: 5px;
    border: 1px solid #d7d7d7;
    margin-left: 40px;
    font-size: 20px;
}
#login_title button{
	cursor: pointer;
	clear: both;
	display: block;
	color: white;
	background: url("../img/gray_btn_r.svg") no-repeat 100% 0px;
	border:none;
	position: relative;
    width: 156px;
    height: 50px;
    text-align: center;
    font-size: 18px;
    line-height: 46px;
    text-align: center;
    padding: 0;
    margin-top: 70px;
    outline: none;
    margin-bottom: 40px;
}
#login_title button:hover{
	background: url("../img/gray_btn_r_hover.svg") no-repeat 100% 0px;;
}
#login_title button:after{
	content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 43px;
    height: 50px;
    background: url(../img/arrow_bg_r.png) no-repeat 0px 0px;
}
.signup_fail{
	color: red;
	clear:both;
	float: left;
	font-size: 19px;
	margin-bottom: 10px;
}
.reg_to_log_true{
	color: green;
	font-size: 20px;
	margin-top: 30px;
}
.login_error{
	color: red;
	font-size: 20px;
	margin-top: 30px;
}

.logo {
	float: left;
	max-width: 70%;
	margin: 15px 0 0 28px;

}
.logo img {
	display: block;
	max-width: 100%;
}

.header.header_white_mod {
	background: #fff;
}

.nav_menu {
	width: 100%;
	max-width: 1050px;
	margin: 0 auto 1px;
	display: block;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.main_menu_item {
	display: block;
	float: left;
	margin: 0 20px 10px 11px;
}

.main_menu {
	position: relative;
	top: auto;
	left: auto;
	float: right;
	margin-top: 20px;
	list-style: none;
}

.main_menu_item_link {
	display: block;
	cursor: pointer;
	text-decoration: none;
	padding: 10px 0;
}
.main_menu_item_link.active {
	cursor: default;
}
.main_menu_item_link.active .main_menu_item_text {
	text-decoration: none !important;
}
.main_menu_item_text {
	color: #08405d;
	font-size: 2rem;
}
.main_menu_item_link:hover .main_menu_item_text {
	text-decoration: underline;
	color: #08405d;
}

.main_slider.inner_mod {
	position: relative;
}
.main_slider.inner_mod .slide {
	overflow: hidden;
}
.header_line {
	margin-left: -40px;
	list-style: none;
	/*width: 100%;*/
}
.header_l_item {
	float: left;
	width: 18%;
	height: 5px;
}
.header_l_item:last-child, .header_l_item:first-child {
	width: 14%;
}

.slider_wrapper {
	position: relative;
	overflow: hidden;
	margin-top: -6px;
	width: 100%;
}
.slider_wrapper:after {
	content: '';
	position: absolute;
	bottom: -30px;
	right: 0;
	left: 0;
	background: #fff;
	height: 60px;
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
	-webkit-transform: skewX(67deg) rotate(-2deg);
	-ms-transform: skewX(67deg) rotate(-2deg);
	transform: skewX(67deg) rotate(-2deg);
}

.slide_img {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	max-height: 170px;
	/*margin-top: 20px;*/
}
.slide_img.max_w_mod {
	/*margin-top: -10px;*/
	max-width: 100%;
}

.header_l_item.header_l_item_blue {
	background: #14a5e2;
}
.header_l_item.header_l_item_blue_2 {
	background: #0e71b8;
}
.header_l_item.header_l_item_blue_3 {
	background: #009fe3;
}
.header_l_item.header_l_item_green {
	background: #2fac66;
}
.header_l_item.header_l_item_olive {
	background: #96c11f;
}
.slide {
	position: relative;
	text-align: center;
	overflow:hidden;
}

.section {
	position: relative;
	padding: 25px 0;
}

.section_white_right_skew {
	position: relative;
	overflow: hidden;
	width: 100%;
	background: #fff;
	height: 67px;
	z-index: -1;
	margin-top: -27px;
}
.section_white_right_skew:after {
	content: '';
	position: absolute;
	bottom: -30px;
	right: 0;
	left: -70px;
	top: 37px;
	background: #fff;
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
	-webkit-transform: skewX(-67deg) rotate(-2deg);
	-ms-transform: skewX(-67deg) rotate(-2deg);
	transform: skewX(-67deg) rotate(-2deg);
}

.site_info_header {
	font-size: 3.5rem;
	float: right;
	position: absolute;
	margin-top: 40px;
	color: white;
}

.footer {
	min-height: 200px;
	font-size: 14px;
	line-height: 17px;
}
.footer .section_inner {
	padding: 0 12px;
}
.section_inner {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto 1px;
}
.footer_info {
	padding-bottom: 20px;
}
.copyright {
	padding: 10px 0;
	float: left;
	margin-right: 100px;
}
.color_gray {
	color: #505050;
}
.gl_link:hover {
	text-decoration: none;
}
.color_blue {
	color: #08405d;
}
.footer_contacts {
	padding: 10px 0;
}
.color_red {
	color: red;
}

.site_name {
	color: black;
	font-size: 2.5rem;
}

.footer_container {
	position: relative;
	z-index: 0;
	margin-top:20px;
}
#cabinet{
	padding-top: 50px;
	margin: auto;
	padding-left: 32px;
	color: #08405d;
	width: 100%;
	max-width: 1100px;
	font-size: 18px;
}
#cabinet h2{
	margin-top: 0px;
    margin-bottom: 15px;
    font-family: Poiret One, cursive;
    font-size: 35px;
    font-weight: 400;
	color: #08405d;
}
#cabinet_first{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#cabinet_first_bal{
	cursor: pointer;
    display: inline-block;
    margin: 0 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 4px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.08);
    line-height: 43px;
}
#cabinet_first_bonus {
	position: relative;
	cursor: pointer;
	top: 14px;
}
.settings_menu{
	display: none;
	margin-left: 144px;
	padding: 0px;
	text-align: center;
	z-index: 2;
    position: absolute;
    /*top: 100%;*/
    margin-top: -7px;
    background: #fff;
    font: 16px/1 "NerisLight", sans-serif;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.settings_menu li{
	list-style-type: none; 
}
.settings_m_item a{
	display: block;
    padding: 11px 22px 12px;
    min-width: 138px;
    color: #08405d;
    text-decoration: underline;
}

#way{
	text-align: center;
}

#way span{
	display: block;
    float: left;
    width: 242px;
    height: 65px;
    overflow: visible;
    color: #FFFFFF;
    background: url(../img/lvl.png) no-repeat left top;
}

#way b{
	position: relative;
	left: 45px;
}

#way i{
	display: inline-block;
	font-size: 20px;
    color: #c1d1d9;
    margin-top: 10px;
    padding: 0px 5px 0px 5px;
    right: 25px;
    width: auto;
    position: relative;
    top: 30px;
    height: auto;
    background: #FFFFFF;
}

#cabinet_third{
	display: flex;
	justify-content: flex-end;
	margin-top: 20px;
	border-bottom: 1px solid #e6e6e6;
	padding-bottom: 30px;
}

#cabinet_third p {
    display: block;
    text-align: right;
    width: 170px;
    height: 36px;
    line-height: 30px;
    margin-right: 5px;
    text-align: right;
    vertical-align: middle;
    float: left;
    color: #08405d;
    font-size: 2.2rem;
}

#cabinet_third span b {
    color: #FFFFFF;
    margin: 0px 0px 0px 2px;
    padding: 0px 0px 0px 2px;
    height: 32px;
    text-align: center;
    vertical-align: middle;
    overflow: visible;
}

#cabinet_4{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
}
#cabinet_4_block{
	display: block;
    float: left;
    margin: 20px;
    padding: 0px;
    text-align: center;
    width: 280px;
    height: 100%;
}
#cabinet_4_block p{
	display: block;
    text-align: left;
    width: 100%;
    height: 27px;
}
#zxczxczxc {
	display: block;
    width: 100%;
    height: 59px;
    overflow: visible;
    background: url("../img/capture.jpg") no-repeat left 20px;
}
#cabinet_4_block i{
	display: inline-block;
    color: #c1d1d9;
    margin-top: 10px;
    padding: 0px 5px 0px 5px;
    width: auto;
    height: auto;
    background: #FFFFFF;
}
#cabinet_4_block u{
	display: block;
    text-decoration: none;
    color: #c1d1d9;
    margin: 10px 0px 0px 0px;
    padding: 0px 5px 0px 5px;
    width: auto;
    height: 20px;
    text-align: right;
    background: #FFFFFF;
}

.game-achv-list {
    padding: 0px 20px 0px 20px;
    height:140px;
}

.game-achv-list li {
    display:block;
    float: left;
    margin: 20px;
    padding: 0px;
    text-align:center;
    width: 280px;
    height: 100%;
    background: url("http://st.moemnenie.ru/game/images/empty.png") no-repeat left 20px;
}

.game-achv-list p {
    display:block;
    text-align:left;
    width: 100%;
    height: 27px;
    font-size: 18px;
}
.game-achv-list span {
    display:block;
    width: 100%;
    height: 59px;
    overflow:visible;
}
.game-achv-list span b {
    display:block;
    color: #FFFFFF;
    padding-left:2px;
    margin-left: 3px;
    height: 100%;
    line-height:52px;
    text-align: center;
    vertical-align:middle;
    overflow:visible;
    background: url("http://st.moemnenie.ru/game/images/blue.png") repeat-x left 3px;
}
.game-achv-list i {
    display:inline-block;
    color: #c1d1d9;
    margin-top:10px;
    padding:0px 5px 0px 5px;
    width: auto;
    height: auto;
    background: #FFFFFF;
}
.game-achv-list u {
    display:block;
    text-decoration:none;
    color: #c1d1d9;
    margin:10px 0px 0px 0px;
    padding:0px 5px 0px 5px;
    width: auto;
    height: 20px;
    text-align:right;
    background: #FFFFFF;
}

.game-link-go:visited,  .game-link-go:link, .game-link-go:hover, .game-link-go:active {
    display:block;
    width:80px;
    height:15px;
	margin-top: 4px;
    color: #ff8b02;
	font-size:0.8em;
    text-align:right;
    float:right;
}

div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, a, input, label, textarea, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0; 
    padding: 0;
    border: 0;
    outline: 0; 
    vertical-align: baseline; 
    background: transparent; 
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
    -webkit-tap-highlight-color: transparent; 
    text-decoration: none; 
}

.game-link-all:visited,  .game-link-all:link, .game-link-all:hover, .game-link-all:active  {
    display:block;
    width:200px;
    height:15px;
    color: #ff8b02;
    font-size: 18px;
    float:right;
}

.gl_headline.gl_headline_bdt {
	padding-top: 20px;
	padding-bottom: 10px;
	border-top: 1px solid #e6e6e6;
	font-family: "NerisLight";
}

.gl_headline.bonus_mod {
	padding-left: 15px;
	margin-bottom: 15px;
	font-family: "NerisLight";
}

.color_green {
	color: #2fac66;
}

.fz_26 {
	font-size: 3rem;
}

.get_bonus_list {
	position: relative;
}
.get_bonus_list.mod_1 {
	padding-top: 30px;
	margin-top: 20px;
	border-top: 1px solid #f2f2f2;
}
.get_bonus_list .offer_item {
	margin: 0 0 38px 31px;
}

.offer_item {
	float: left;
	width: 210px;
	border: 1px solid #e6e6e6;
	border-radius: 2px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	line-height: 1.3;
}
.offer_item.active {
	cursor: default;
	box-shadow: 0 0 10px #16aee5;
}

.get_bonus_img {
	display: block;
	text-decoration: none;
}
.get_bonus_img img {
	display: block;
	max-width: 100%;
}

.get_bonus_caption_w {
	padding: 0 12px;
    height:50px;
}
.middle_block {
	display: inline-block;
	line-height: 15px;
	max-height: 40px;
	margin-top: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.get_bonus_caption_w .middle_block {
	max-height: 48px;
}
.fz_12 {
	font-size: 1.2rem;
}
.fz_18 {
	font-size: 1.8rem;
}
.fz_14 {
	font-size: 1.4rem;
}
.fz_15 {
	font-size: 1.5rem;
}
.fz_16 {
	font-size: 1.6rem;
}
.fz_22 {
	font-size: 2.2rem;
}
.fz_24 {
	font-size: 2.4rem;
}
.fz_25 {
	font-size: 2.5rem;
}
.fz_26 {
	font-size: 2.6rem;
}
.color_white {
	color: #fff;
}
.color_blue_light {
	color: #14a5e2;
}
.bg_dark_blue {
	background: #568aa0;
}
.middle_block_w {
	vertical-align: middle;

}
.middle_block_w.middle_block_w_50 {
	height: 50px;
}
.middle_block_w.middle_block_w_65 {
	height: 65px;
}
.text_left {
	text-align: left;
}
.color_black {
	color: black;
}
.color_blue {
	color: #08405d;
}
#earn-block li {
	width:175px; 
	margin-left:15px;
}
.gl_headline.slider_caption {
	border-top: 1px solid #e6e6e6;
	padding: 14px 10px 5px 15px;
	font-family: "NerisLight";
}

.slider_pagination {
    position: absolute;
    top: -26px;
    right: 20px;
}

.slider_pagination .bx-pager-item {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin: 0 0 0 7px;
}
.slider_pagination .bx-pager-item:before {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	font-size: 26px;
}
.slider_pagination .bx-pager-item:hover {
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}
.slider_pagination .bx-pager-item:before {
	 content: "●";
}
.popup_close:before,  .btn_v3.bonus_settings_btn:before,  .slider_pagination .bx-pager-item:before,  .offer_slider .slide_prev:before,  .offer_slider .slide_next:before,  .btn_v2.popup_prod_btn:before,  .bx-pager-link.active:before,  .btn_v2.offer_btn:before {
	font-family: 'mnenie_font';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.bx-pager {
  margin-right:25px;
}
.bx-pager-link {
	position: relative;
	display: block;
	width: 26px;
	height: 26px;
	color: transparent;
}
.bx-pager-link.active {
	position: relative;
	cursor: default;
}
.bx-pager-link.active:before {
	position: absolute;
	top: 5px;
	bottom: 2px;
	font-size: 15px;
}
.bx-pager-link.active:hover {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}
.offer_slider .slide_prev:before {
	content: "◄";
}
.offer_slider .slide_next:before, .btn_v2.popup_prod_btn:before {
	content: "►";
}
.offer_slider {
	position: relative;
	padding: 22px 32px 30px;
}
.offer_slider .slide_next, .offer_slider  .slide_prev {
	top: 120px;
	z-index: 100;
	/*left: 100px;*/
	width: 20px;
	height: 40px;
}
.offer_slider .slide_next:before, .offer_slider  .slide_prev:before {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	font-size: 34px;
	color: #568aa0;
}
.offer_slider .slide_next:hover:before, .offer_slider  .slide_prev:hover:before {
	color: #446d7f;
}
.offer_slider .slide_next {
	right: 0;
}
.offer_slider .slide_next:before {
	left: -7px;
}
.slider_wrapper .slide_next {
	right: 30px;
}
.offer_slider .slide_prev {
	left: 0;
}
.offer_slider .slide_prev:before {
	left: -9px;
}
.offer_slider .slider_pagination {
	margin-bottom: 20px;
	text-align: right;
}
.offer_slider .slider_pagination .bx-pager-item:before {
	color: #78a1b3;
}
.offer_slider .bx-pager-link.active:before {
	color: #78a1b3;
	right: 5px;
	left: 5px;
}
.slide_next,  .slide_prev {
	cursor: pointer;
	position: absolute;
}
.top-img {
	width: 100%;
}
.withdraw_img {
	display: block;
	/*padding: 6px 0;*/
	text-align: center;
	line-height: 150px;
	height:160px;
}
.withdraw_img.withdraw_img_175 {
	line-height: 175px;
}
.withdraw_img img {
	display: inline-block;
	vertical-align: middle;
	max-height:160px;
	/*max-width:200px;*/
}
.offer_caption {
	overflow: hidden;
/*	text-overflow: ellipsis;
	white-space: nowrap;*/
	padding: 4px 12px 8px;
	height:53px;
	max-height:53px;
}
.offer_caption p {
	display:table;
	height:44px;
	width:100%;
}
.offer_caption p span {
	display:table-cell;
	height:44px;
	vertical-align:middle;
	text-align:center;
	overflow: hidden;
}
.offer_text {
	position: relative;
	padding: 11px 55px 5px 9px;
}
.offer_price {
	padding-top: 5px;
	text-align: left;
}
.btn_v2 {
	height: 42px;
	background: url('../img/bonus_btn.png') 50% no-repeat;
}
.btn_v2.offer_btn {
	cursor: pointer;
	position: absolute;
	top: 15px;
	right: 10px;
	width: 42px;
}
.btn_v2.offer_btn:before {
	color: #08405d;
	position: absolute;
	top: -4px;
	bottom: 0;
	left: 6px;
	right: 0;
	font-size: 56px;
}
.btn_v2.offer_btn:after {
	color: #fff;
	position: absolute;
	top: 6px;
	bottom: 0;
	left: 18px;
	right: 0;
	font-size: 36px;
}